.back_img{
    height:250px;
    background-size:cover !important;
     background-repeat: no-repeat !important
}
h1{
    margin-left:6px;
    color:#383838;
    font-size:21px;
}
.content{
    border:1px solid #c5c5c5;
    margin-top:5px;
    padding:12px;
    color:#585858;
    line-height:24px;
    font-size:20px;


}