
.go{
    margin-left:10%;
    margin-right: 10%;;
    width:80%;
height:100vh;
padding-top:50px;

}
.go h2{
    margin-right: 33px;
    text-align:center;
    font-weight:500;
    font-size:34px;
    color:#454545;
}
.logc input{
    font-size:48px;
    width:100%;
    margin-top:5px;
    padding:5px 4px;
    font-weight:400;
    box-sizing: border-box;
    border-radius: 0%;
}
button{
    background: #03a9f4;
    font-size:15px;
    padding:8px;
    color:#fff;
    margin-top:10px;
    border:0px;
}
.left{
    margin-left:10px;
}
.error{
    font-size:15px;
}